.about
	margin-top 33px

	&__text
		margin-top 15px

	&__wrapper
		margin-top 27px
		overflow hidden

	&__story
		margin-top -2px
		background url(../images/line2.png) repeat-y center
		font 30px Courier New
		font-weight 400
		color #231f20
		line-height 2
