.personal-data
		&__title
			margin-x(auto)
			margin-top -5px
			background url(../images/title.png) no-repeat top
			background-position 46% 50%
			height 112px

.personal-data-fields
	margin-top 55px

.personal-data-field
	margin-bottom 17px

	&:after
		display table
		clear both
		content ''

	&__key
		float left
		font-size 22.43px
		font-weight 700
		padding-top 20px

	&__value
		background url(../images/line.png) no-repeat bottom
		float right
		font 30px Courier New
		font-weight 400
		color #231f20
		margin-left 11px
		padding 0 0 12px 15px

	&__value_name
		width 630px

	&__value_dob
		width 620px

	&__value_city
		width 577px

	&__value_skype
		width 700px

	&__value_email
		width 700px


