.footer
	margin-top 50px

	&__text
		margin-top 10px

.plans
	margin-top 5px
	margin-left -7px
	display flex
	justify-content flex-start //укажу явно
	align-items center

.plan-radio-btn
	margin-right 10px

	&__check
	&__text
		display inline-block
		vertical-align middle

	&__check
		background-position -50px 0
		background-image url(../images/sprites/radio-btn.png)
		width 42px
		height 46px
		margin-right 3px

		&.checked
			background-position 0 0

	&__text
		font-size 20px
		font-weight 700

.plan-radio-btn
	input
		display none

.signature-date
	margin-top 72px
	width 390px
	display flex
	justify-content space-between
	align-items flex-end

	&__title
		font-size 22.43px
		font-weight 700

	&__date
		color #231f20
		font 30px Courier New
		background url(../images/line.png) no-repeat bottom
		width 208px
		padding-bottom 5px
		padding-left 10px
