mixin slider()
	+b.slider&attributes(attributes)
		+e.H2.title Уровень владения JavaScript

		+e.wrapper
			+e.item
			+e.background
			+e.UL.signs
				+e.LI.sign Не владею
				+e.LI.sign Использую готовые решения
				+e.LI.sign Использую готовые решения и умею их переделывать
				+e.LI.sign Пишу сложные скрипты
